body{background-color:#ccff66; width:100%;text-align:center;
}
h1,h2,h3 {color:dark;text-align: center;
}
p {color:gray;text-align: center;
 font-family:comic sans ms;
 font-size:17px;
 }
img{display: block;margin-left:auto;margin-right: auto;
}
table{margin:0 auto
}
.text{font-size:16px
}
.text strong{font-family: times new roman; text-decoration: underline; font-size:1.2em;
}
#shape{font-family: times new roman; font-style: italic;
}
#search {width:200px;height:20px;border-radius:6px;
}
#search:hover { width:400px; height:20px; border-radius:10px; cursor: pointer;
}
.hand{cursor: pointer;
}

#red:hover{color:red;
}
img{border:7px black solid; padding:5px;
}
img:hover{border:10px blue dotted; padding:10px;
}